 body {
    background: #E5E5E5;
    font-family: "Verdana", Georgia, Serif;

}


input[type=text] ,input[type=email], input[type=number] , input[type=password], input[type=date] {
    width: 250px;
    height: 30px;
    padding: 4px 10px;
    margin: 10px auto;
    display: block;

}



select {
    width: 270px;
    height: 34px;
    padding: 4px 10px;
    margin: 10px auto;
    display: block;
}
 

button[type=submit]{
    font-weight: bold;
    margin: 5px auto;
   
    width: 90%;
    height: 40px;
    /*background: #09c; */
	background: #75a9ee;
    color: #fff;
    font-family: arial;
    font-size:16px;
    border-radius: 0px 0px 15px 15px;
    border: 2px solid #010e06;
    
}



button[type=submit]:focus {
    outline:0;
    padding: 4px 13px;
    border: 4px solid rgb(255, 145, 0);
    color:blue;
}



/* invalid / valid */
input:invalid {
     color: red;
}
input:valid {
    color: green;
}



#container { 
    display: block;
    padding: 4px;
    width: 350px;
    margin: 50px auto;
    border: 2px solid #f4f5efe7;
    border-radius: 10px;
    background-color: rgb(216, 236, 203);
}
 

#mainbody {
    display: block;
    margin: 0px auto;
    height:auto;
    width: 350px;
    padding:0px;
    border:0px solid #cccccc;
    
}

#footer {
      width: 400px;
      margin: 0 auto;
      text-align: center;
      border: 0px solid black;
}


#logo {
    width: 70px; /* Width of new image */
    height: 70px; /* Height of new image */
    border:0px solid black;
    border-radius: 2;
    float: right;
    margin-top: -40px;
}

h3 {
	float: left;
    margin-left: 35px;
    color: #070c13;
    font-family: verdana;
    font-size: 14px;
    }

.title {
    color:navy;
    font-size: 40px; 
    border: 0px solid black;
}

.textarea {
	margin-top: 0px;
    margin-left: 33px;
   	width: 278px;
	}

.block { 
    margin: 5px auto; 
}

.submit { 
    margin: 10 auto; 
    padding-left: 30px;
}